---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "recettes";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>mes super recettes</h2>
	<ul>
		<li><a href="/recipes/jay-regular-heavy/">recette1</a></li>
	</ul>
</BaseLayout>