---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <p>Written by {frontmatter.source.chef}</p>
    <slot />
</BaseLayout>
